example-flow.json
[
    {
        "id": "example-flow",
        "type": "tab",
        "label": "Anomalieerkennung Beispiel",
        "disabled": false,
        "info": "Beispiel-Flow für Anomalieerkennung mit verschiedenen Methoden"
    },
    {
        "id": "inject1",
        "type": "inject",
        "z": "example-flow",
        "name": "Zufällige Werte",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "35",
        "payloadType": "num",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "function1",
                "zscore1"
            ]
        ]
    },
    {
        "id": "function1",
        "type": "function",
        "z": "example-flow",
        "name": "Simuliere Sensor-Daten",
        "func": "// Simuliere kontinuierliche Sensor-Daten mit gelegentlichen Anomalien\nvar baseValue = 35.0;\nvar noise = (Math.random() - 0.5) * 2; // -1 bis +1\n\n// Gelegentlich eine Anomalie einfügen (5% Chance)\nif (Math.random() < 0.05) {\n    msg.payload = baseValue + (Math.random() > 0.5 ? 15 : -15); // Große Abweichung\n} else {\n    msg.payload = baseValue + noise; // Normaler Wert mit Rauschen\n}\n\n// Metadaten hinzufügen\nmsg.timestamp = Date.now();\nmsg.sensorId = \"sensor-001\";\nmsg.unit = \"celsius\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 80,
        "wires": [
            [
                "zscore1",
                "iqr1",
                "threshold1"
            ]
        ]
    },
    {
        "id": "zscore1",
        "type": "zscore-anomaly",
        "z": "example-flow",
        "name": "Z-Score",
        "threshold": "3.0",
        "windowSize": "50",
        "x": 580,
        "y": 60,
        "wires": [
            [
                "debug-normal"
            ],
            [
                "debug-anomaly"
            ]
        ]
    },
    {
        "id": "iqr1",
        "type": "iqr-anomaly",
        "z": "example-flow",
        "name": "IQR",
        "multiplier": "1.5",
        "windowSize": "50",
        "x": 580,
        "y": 120,
        "wires": [
            [
                "debug-normal"
            ],
            [
                "debug-anomaly"
            ]
        ]
    },
    {
        "id": "threshold1",
        "type": "threshold-anomaly",
        "z": "example-flow",
        "name": "Threshold",
        "minThreshold": "30",
        "maxThreshold": "40",
        "inclusive": false,
        "x": 580,
        "y": 180,
        "wires": [
            [
                "debug-normal"
            ],
            [
                "debug-anomaly"
            ]
        ]
    },
    {
        "id": "debug-normal",
        "type": "debug",
        "z": "example-flow",
        "name": "Normale Werte",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 60,
        "wires": []
    },
    {
        "id": "debug-anomaly",
        "type": "debug",
        "z": "example-flow",
        "name": "⚠️ Anomalien",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 180,
        "wires": []
    },
    {
        "id": "inject-continuous",
        "type": "inject",
        "z": "example-flow",
        "name": "Kontinuierliche Daten",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "function-continuous"
            ]
        ]
    },
    {
        "id": "function-continuous",
        "type": "function",
        "z": "example-flow",
        "name": "Kontinuierliche Werte",
        "func": "// Simuliere kontinuierliche Zeitreihendaten\nvar baseValue = 35.0;\nvar noise = (Math.random() - 0.5) * 2;\n\n// Gelegentlich Anomalie\nif (Math.random() < 0.1) {\n    msg.payload = baseValue + (Math.random() > 0.5 ? 20 : -20);\n} else {\n    msg.payload = baseValue + noise;\n}\n\nmsg.timestamp = Date.now();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 240,
        "wires": [
            [
                "ema1",
                "cusum1"
            ]
        ]
    },
    {
        "id": "ema1",
        "type": "ema-anomaly",
        "z": "example-flow",
        "name": "EMA",
        "alpha": "0.3",
        "threshold": "2.0",
        "method": "stddev",
        "x": 580,
        "y": 220,
        "wires": [
            [
                "debug-normal"
            ],
            [
                "debug-anomaly"
            ]
        ]
    },
    {
        "id": "cusum1",
        "type": "cusum-anomaly",
        "z": "example-flow",
        "name": "CUSUM",
        "target": "",
        "threshold": "5.0",
        "drift": "0.5",
        "windowSize": "50",
        "x": 580,
        "y": 280,
        "wires": [
            [
                "debug-normal"
            ],
            [
                "debug-anomaly"
            ]
        ]
    }
]

