examples/01-anomaly-detector-zscore.json
[
    {
        "id": "ex01-tab",
        "type": "tab",
        "label": "Anomaly Detector: Z-Score",
        "disabled": false,
        "info": "Detects temperature anomalies using a rolling z-score."
    },
    {
        "id": "ex01-comment",
        "type": "comment",
        "z": "ex01-tab",
        "name": "Z-score anomaly detection on a simulated temperature signal",
        "info": "An inject node ticks once per second and a function node synthesizes a temperature around 70 °C with a slow sine drift, noise, and an occasional spike. The anomaly-detector node keeps a rolling window of 50 samples and flags values whose z-score exceeds 3 (warning at 2). Output 1 carries normal readings, output 2 carries anomalies.",
        "x": 250,
        "y": 40,
        "wires": []
    },
    {
        "id": "ex01-inject",
        "type": "inject",
        "z": "ex01-tab",
        "name": "1 Hz tick",
        "props": [{ "p": "payload" }],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 120,
        "wires": [["ex01-sim"]]
    },
    {
        "id": "ex01-sim",
        "type": "function",
        "z": "ex01-tab",
        "name": "simulate temperature",
        "func": "const c = (context.get('c') || 0) + 1;\ncontext.set('c', c);\nconst base = 70 + 3 * Math.sin(2 * Math.PI * c / 120);\nconst noise = (Math.random() - 0.5) * 1.5;\nlet temp = base + noise;\n// occasional spike to trigger an anomaly\nif (c % 90 === 0) temp += 12;\nmsg.payload = +temp.toFixed(2);\nmsg.topic = 'machine-a/temperature';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 120,
        "wires": [["ex01-detector"]]
    },
    {
        "id": "ex01-detector",
        "type": "anomaly-detector",
        "z": "ex01-tab",
        "name": "z-score detector",
        "method": "zscore",
        "windowSize": 50,
        "zscoreThreshold": 3,
        "zscoreWarning": 2,
        "iqrMultiplier": 1.5,
        "iqrWarningMultiplier": 1.2,
        "minThreshold": "",
        "maxThreshold": "",
        "warningMargin": 10,
        "lowerPercentile": 5,
        "upperPercentile": 95,
        "emaAlpha": 0.3,
        "emaThreshold": 2,
        "emaWarning": 1.5,
        "emaMethod": "stddev",
        "cusumTarget": "",
        "cusumThreshold": 5,
        "cusumWarning": 3.5,
        "cusumDrift": 0.5,
        "maThreshold": 2,
        "maWarning": 1.5,
        "maMethod": "stddev",
        "outputTopic": "",
        "debug": false,
        "persistState": false,
        "hysteresisEnabled": true,
        "hysteresisPercent": 10,
        "consecutiveCount": 1,
        "adaptiveEnabled": false,
        "adaptiveLearningRate": 0.1,
        "adaptiveMinSamples": 10,
        "targetFalsePositiveRate": 0.05,
        "batchMode": false,
        "websocketEnabled": false,
        "websocketPort": 1881,
        "websocketTopic": "anomaly-detector",
        "x": 560,
        "y": 120,
        "wires": [["ex01-debug-normal"], ["ex01-debug-anomaly"]]
    },
    {
        "id": "ex01-debug-normal",
        "type": "debug",
        "z": "ex01-tab",
        "name": "normal",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 100,
        "wires": []
    },
    {
        "id": "ex01-debug-anomaly",
        "type": "debug",
        "z": "ex01-tab",
        "name": "anomaly",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 140,
        "wires": []
    }
]
