examples/02-isolation-forest-learning.json
[
    {
        "id": "ex02-tab",
        "type": "tab",
        "label": "Isolation Forest: Online Learning",
        "disabled": false,
        "info": "Unsupervised anomaly detection with an isolation forest that keeps retraining online."
    },
    {
        "id": "ex02-comment",
        "type": "comment",
        "z": "ex02-tab",
        "name": "Isolation forest with online retraining",
        "info": "A function node produces a vibration-like value with occasional large spikes. The isolation-forest-anomaly node fills a 100-sample window, trains an ensemble of 100 trees, and retrains every 50 samples in online learning mode. Values isolated quickly by the forest are scored as anomalies and routed to output 2.",
        "x": 200,
        "y": 40,
        "wires": []
    },
    {
        "id": "ex02-inject",
        "type": "inject",
        "z": "ex02-tab",
        "name": "2 Hz tick",
        "props": [{ "p": "payload" }],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 120,
        "wires": [["ex02-sim"]]
    },
    {
        "id": "ex02-sim",
        "type": "function",
        "z": "ex02-tab",
        "name": "simulate vibration",
        "func": "const c = (context.get('c') || 0) + 1;\ncontext.set('c', c);\nlet v = 2.0 + (Math.random() - 0.5) * 0.6;\n// occasional spike to trigger an anomaly\nif (c % 75 === 0) v += 4 + Math.random() * 2;\nmsg.payload = +v.toFixed(3);\nmsg.topic = 'pump-1/vibration';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 120,
        "wires": [["ex02-forest"]]
    },
    {
        "id": "ex02-forest",
        "type": "isolation-forest-anomaly",
        "z": "ex02-tab",
        "name": "isolation forest",
        "contamination": 0.1,
        "windowSize": 100,
        "numEstimators": 100,
        "maxSamples": 256,
        "learningMode": "online",
        "retrainInterval": 50,
        "adaptRate": 0.1,
        "persistState": false,
        "outputTopic": "",
        "debug": false,
        "x": 540,
        "y": 120,
        "wires": [["ex02-debug-normal"], ["ex02-debug-anomaly"]]
    },
    {
        "id": "ex02-debug-normal",
        "type": "debug",
        "z": "ex02-tab",
        "name": "normal",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 100,
        "wires": []
    },
    {
        "id": "ex02-debug-anomaly",
        "type": "debug",
        "z": "ex02-tab",
        "name": "anomaly",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 140,
        "wires": []
    }
]
