examples/03-multi-value-processor.json
[
    {
        "id": "ex03-tab",
        "type": "tab",
        "label": "Multi-Value Processor: Split",
        "disabled": false,
        "info": "Splits a multi-sensor payload into individual readings with per-sensor anomaly checks."
    },
    {
        "id": "ex03-comment",
        "type": "comment",
        "z": "ex03-tab",
        "name": "Split a multi-sensor object into per-sensor messages",
        "info": "The function node emits one object per second containing temperature, pressure, and flow readings. The multi-value-processor in split mode breaks the object into one message per sensor and applies a z-score check (threshold 3, warning 2) to each value over a 100-sample window. Normal readings exit on output 1, anomalous ones on output 2.",
        "x": 240,
        "y": 40,
        "wires": []
    },
    {
        "id": "ex03-inject",
        "type": "inject",
        "z": "ex03-tab",
        "name": "1 Hz tick",
        "props": [{ "p": "payload" }],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 120,
        "wires": [["ex03-sim"]]
    },
    {
        "id": "ex03-sim",
        "type": "function",
        "z": "ex03-tab",
        "name": "simulate 3 sensors",
        "func": "const c = (context.get('c') || 0) + 1;\ncontext.set('c', c);\nconst temp = 65 + 2 * Math.sin(2 * Math.PI * c / 60) + (Math.random() - 0.5);\nlet pressure = 5.2 + (Math.random() - 0.5) * 0.2;\nconst flow = 120 + (Math.random() - 0.5) * 6;\n// occasional pressure fault\nif (c % 80 === 0) pressure += 2.5;\nmsg.payload = {\n    temperature: +temp.toFixed(2),\n    pressure: +pressure.toFixed(3),\n    flow: +flow.toFixed(1)\n};\nmsg.topic = 'machine-a/sensors';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 120,
        "wires": [["ex03-mvp"]]
    },
    {
        "id": "ex03-mvp",
        "type": "multi-value-processor",
        "z": "ex03-tab",
        "name": "split + z-score",
        "mode": "split",
        "field": "payload",
        "outputMode": "sequential",
        "preserveOriginal": true,
        "anomalyMethod": "zscore",
        "threshold": 3,
        "warningThreshold": 2,
        "windowSize": 100,
        "minThreshold": "",
        "maxThreshold": "",
        "sensor1": "sensor1",
        "sensor2": "sensor2",
        "correlationThreshold": 0.7,
        "correlationMethod": "pearson",
        "aggregateMethod": "mean",
        "aggregateOutput": "single",
        "outputTopic": "",
        "debug": false,
        "x": 550,
        "y": 120,
        "wires": [["ex03-debug-normal"], ["ex03-debug-anomaly"]]
    },
    {
        "id": "ex03-debug-normal",
        "type": "debug",
        "z": "ex03-tab",
        "name": "normal",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 100,
        "wires": []
    },
    {
        "id": "ex03-debug-anomaly",
        "type": "debug",
        "z": "ex03-tab",
        "name": "anomaly",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 140,
        "wires": []
    }
]
