examples/04-signal-analyzer-vibration.json
[
    {
        "id": "ex04-tab",
        "type": "tab",
        "label": "Signal Analyzer: FFT",
        "disabled": false,
        "info": "FFT spectrum analysis of a synthetic vibration waveform."
    },
    {
        "id": "ex04-comment",
        "type": "comment",
        "z": "ex04-tab",
        "name": "FFT peak detection on a sine + noise waveform",
        "info": "Every two seconds the function node generates a 256-sample waveform sampled at 1000 Hz containing a 50 Hz fundamental, a 120 Hz harmonic, and white noise. The signal-analyzer runs an FFT with a Hann window and reports the dominant spectral peaks; you should see peaks near 50 Hz and 120 Hz in the debug output. Switch the node's mode to 'vibration' to compute RMS, crest factor, and ISO 10816 zone instead.",
        "x": 250,
        "y": 40,
        "wires": []
    },
    {
        "id": "ex04-inject",
        "type": "inject",
        "z": "ex04-tab",
        "name": "every 2 s",
        "props": [{ "p": "payload" }],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 120,
        "wires": [["ex04-sim"]]
    },
    {
        "id": "ex04-sim",
        "type": "function",
        "z": "ex04-tab",
        "name": "sine 50 Hz + 120 Hz + noise",
        "func": "const fs = 1000;          // sampling rate [Hz]\nconst n = 256;            // samples\nconst samples = [];\nfor (let i = 0; i < n; i++) {\n    const t = i / fs;\n    const v =\n        1.0 * Math.sin(2 * Math.PI * 50 * t) +\n        0.5 * Math.sin(2 * Math.PI * 120 * t) +\n        0.15 * (Math.random() - 0.5);\n    samples.push(+v.toFixed(5));\n}\nmsg.payload = samples;\nmsg.topic = 'motor-1/vibration';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 120,
        "wires": [["ex04-analyzer"]]
    },
    {
        "id": "ex04-analyzer",
        "type": "signal-analyzer",
        "z": "ex04-tab",
        "name": "FFT peaks",
        "mode": "fft",
        "windowSize": 256,
        "fftSize": 256,
        "samplingRate": 1000,
        "peakThreshold": 0.1,
        "outputFormat": "peaks",
        "windowFunction": "hann",
        "overlapPercent": 50,
        "minPeakHeight": "",
        "minPeakDistance": 5,
        "peakType": "both",
        "vibOutputMode": "all",
        "vibInputUnit": "mm_s",
        "iso10816Class": "class2",
        "envelopeBandLow": 500,
        "envelopeBandHigh": 5000,
        "bearingBPFO": "",
        "bearingBPFI": "",
        "bearingBSF": "",
        "bearingFTF": "",
        "shaftSpeed": "",
        "quefrencyRangeLow": 0.001,
        "quefrencyRangeHigh": 0.1,
        "gearToothCount": "",
        "cepstrumThreshold": 0.1,
        "outputTopic": "",
        "debug": false,
        "persistState": false,
        "x": 600,
        "y": 120,
        "wires": [["ex04-debug-normal"], ["ex04-debug-peaks"]]
    },
    {
        "id": "ex04-debug-normal",
        "type": "debug",
        "z": "ex04-tab",
        "name": "spectrum",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 100,
        "wires": []
    },
    {
        "id": "ex04-debug-peaks",
        "type": "debug",
        "z": "ex04-tab",
        "name": "anomaly / peaks",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 140,
        "wires": []
    }
]
