examples/05-trend-predictor-rul.json
[
    {
        "id": "ex05-tab",
        "type": "tab",
        "label": "Trend Predictor: RUL",
        "disabled": false,
        "info": "Estimates remaining useful life from a slowly degrading vibration level."
    },
    {
        "id": "ex05-comment",
        "type": "comment",
        "z": "ex05-tab",
        "name": "Remaining useful life from a degrading signal",
        "info": "The function node simulates bearing wear: vibration starts around 1.5 mm/s and drifts upward over time. The trend-predictor in RUL mode fits a linear degradation model over a 50-sample window and estimates how many hours remain until the failure threshold of 7.1 mm/s is reached (warning at 4.5 mm/s). Messages that cross the warning or failure threshold are routed to output 2.",
        "x": 240,
        "y": 40,
        "wires": []
    },
    {
        "id": "ex05-inject",
        "type": "inject",
        "z": "ex05-tab",
        "name": "1 Hz tick",
        "props": [{ "p": "payload" }],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 120,
        "wires": [["ex05-sim"]]
    },
    {
        "id": "ex05-sim",
        "type": "function",
        "z": "ex05-tab",
        "name": "simulate bearing wear",
        "func": "const c = (context.get('c') || 0) + 1;\ncontext.set('c', c);\n// slow upward drift with noise: starts ~1.5 mm/s, grows ~0.01 per sample\nconst v = 1.5 + 0.01 * c + (Math.random() - 0.5) * 0.2;\nmsg.payload = +v.toFixed(3);\nmsg.topic = 'bearing-3/vibration-rms';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 120,
        "wires": [["ex05-predictor"]]
    },
    {
        "id": "ex05-predictor",
        "type": "trend-predictor",
        "z": "ex05-tab",
        "name": "RUL estimator",
        "mode": "rul",
        "method": "linear",
        "predictionSteps": 10,
        "windowSize": 50,
        "threshold": "",
        "rocMethod": "absolute",
        "timeWindow": 1,
        "rocThreshold": "",
        "failureThreshold": "7.1",
        "warningThreshold": "4.5",
        "rulUnit": "hours",
        "degradationModel": "linear",
        "confidenceLevel": 0.95,
        "weibullBeta": 2,
        "weibullEta": 1000,
        "outputTopic": "",
        "debug": false,
        "persistState": false,
        "x": 560,
        "y": 120,
        "wires": [["ex05-debug-normal"], ["ex05-debug-alert"]]
    },
    {
        "id": "ex05-debug-normal",
        "type": "debug",
        "z": "ex05-tab",
        "name": "RUL estimate",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 100,
        "wires": []
    },
    {
        "id": "ex05-debug-alert",
        "type": "debug",
        "z": "ex05-tab",
        "name": "threshold alert",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 140,
        "wires": []
    }
]
