examples/06-health-index-weighted.json
[
    {
        "id": "ex06-tab",
        "type": "tab",
        "label": "Health Index: Weighted",
        "disabled": false,
        "info": "Combines several sensor health indicators into one weighted 0-100 health score."
    },
    {
        "id": "ex06-comment",
        "type": "comment",
        "z": "ex06-tab",
        "name": "Weighted machine health score from multiple sensors",
        "info": "The function node bundles temperature, vibration, and pressure readings (each with a z-score and anomaly flag, as produced by upstream anomaly detectors) into a single object. The health-index node weights vibration 1.5x against the other sensors and computes a 0-100 health score with healthy/warning/degraded/critical bands. Healthy scores exit output 1; degraded or critical scores exit output 2.",
        "x": 270,
        "y": 40,
        "wires": []
    },
    {
        "id": "ex06-inject",
        "type": "inject",
        "z": "ex06-tab",
        "name": "every 2 s",
        "props": [{ "p": "payload" }],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 120,
        "wires": [["ex06-sim"]]
    },
    {
        "id": "ex06-sim",
        "type": "function",
        "z": "ex06-tab",
        "name": "bundle 3 sensor states",
        "func": "const c = (context.get('c') || 0) + 1;\ncontext.set('c', c);\n// every ~10th cycle the vibration channel degrades\nconst vibBad = c % 10 === 0;\nmsg.payload = {\n    temp: {\n        value: +(68 + (Math.random() - 0.5) * 2).toFixed(2),\n        zScore: +(Math.random() * 1.2).toFixed(2),\n        isAnomaly: false\n    },\n    vibration: {\n        value: +(2.2 + (vibBad ? 3.5 : 0) + (Math.random() - 0.5) * 0.4).toFixed(2),\n        zScore: vibBad ? 3.4 : +(Math.random() * 1.5).toFixed(2),\n        isAnomaly: vibBad\n    },\n    pressure: {\n        value: +(5.1 + (Math.random() - 0.5) * 0.1).toFixed(3),\n        zScore: +(Math.random()).toFixed(2),\n        isAnomaly: false\n    }\n};\nmsg.topic = 'machine-a/health';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 120,
        "wires": [["ex06-health"]]
    },
    {
        "id": "ex06-health",
        "type": "health-index",
        "z": "ex06-tab",
        "name": "machine health",
        "sensorWeights": "{\"temp\":1.0,\"vibration\":1.5,\"pressure\":1.0}",
        "aggregationMethod": "weighted",
        "outputScale": "0-100",
        "healthyThreshold": 80,
        "warningThreshold": 60,
        "degradedThreshold": 40,
        "criticalThreshold": 20,
        "outputTopic": "",
        "debug": false,
        "persistState": false,
        "x": 580,
        "y": 120,
        "wires": [["ex06-debug-healthy"], ["ex06-debug-degraded"]]
    },
    {
        "id": "ex06-debug-healthy",
        "type": "debug",
        "z": "ex06-tab",
        "name": "healthy",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 100,
        "wires": []
    },
    {
        "id": "ex06-debug-degraded",
        "type": "debug",
        "z": "ex06-tab",
        "name": "degraded / critical",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 140,
        "wires": []
    }
]
