examples/07-ml-inference-onnx.json
[
    {
        "id": "ex07-tab",
        "type": "tab",
        "label": "ML Inference: ONNX Model",
        "disabled": false,
        "info": "Runs a local ONNX model against a feature vector built from sensor data."
    },
    {
        "id": "ex07-comment",
        "type": "comment",
        "z": "ex07-tab",
        "name": "Setup required: point the node at a real ONNX model",
        "info": "This example uses a placeholder model path (/data/models/anomaly-model.onnx) — open the ml-inference node and change 'Model Path' to an .onnx (or TensorFlow.js model.json) file that exists on your Node-RED host before deploying. The function node builds a numeric feature vector [temperature, vibration, pressure, rpm] which the node converts to a tensor and feeds to the model; the prediction is attached to msg.prediction. Adjust 'Input Shape' if your model expects a fixed shape, e.g. [1,4].",
        "x": 270,
        "y": 40,
        "wires": []
    },
    {
        "id": "ex07-inject",
        "type": "inject",
        "z": "ex07-tab",
        "name": "1 Hz tick",
        "props": [{ "p": "payload" }],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 120,
        "wires": [["ex07-features"]]
    },
    {
        "id": "ex07-features",
        "type": "function",
        "z": "ex07-tab",
        "name": "build feature vector",
        "func": "// [temperature, vibration, pressure, rpm]\nconst features = [\n    +(68 + (Math.random() - 0.5) * 4).toFixed(2),\n    +(2.2 + (Math.random() - 0.5) * 0.8).toFixed(3),\n    +(5.1 + (Math.random() - 0.5) * 0.3).toFixed(3),\n    +(1480 + (Math.random() - 0.5) * 20).toFixed(0)\n];\nmsg.payload = features;\nmsg.topic = 'machine-a/features';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 120,
        "wires": [["ex07-inference"]]
    },
    {
        "id": "ex07-inference",
        "type": "ml-inference",
        "z": "ex07-tab",
        "name": "ONNX inference",
        "modelSource": "local",
        "modelPath": "/data/models/anomaly-model.onnx",
        "modelType": "onnx",
        "urlAuthType": "",
        "urlAuthToken": "",
        "hfModelId": "",
        "hfRevision": "main",
        "hfToken": "",
        "mlflowRegistryUri": "",
        "mlflowModelName": "",
        "mlflowVersion": "latest",
        "mlflowStage": "production",
        "mlflowAuthToken": "",
        "customRegistryUrl": "",
        "customModelId": "",
        "customApiKey": "",
        "autoUpdate": false,
        "updateCheckInterval": 3600,
        "modelStage": "production",
        "mlflowTrackingEnabled": false,
        "mlflowTrackingUri": "",
        "mlflowExperimentName": "node-red-ml-inference",
        "mlflowRunName": "",
        "mlflowLogInferenceTime": true,
        "mlflowLogPredictions": false,
        "mlflowLogInputStats": false,
        "mlflowLogAnomalies": false,
        "mlflowBatchSize": 100,
        "inputShape": "",
        "inputProperty": "payload",
        "outputProperty": "prediction",
        "preprocessMode": "array",
        "batchSize": 1,
        "warmup": true,
        "x": 570,
        "y": 120,
        "wires": [["ex07-debug"]]
    },
    {
        "id": "ex07-debug",
        "type": "debug",
        "z": "ex07-tab",
        "name": "prediction",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "prediction",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 120,
        "wires": []
    }
]
