examples/08-pca-anomaly-multivariate.json
[
    {
        "id": "ex08-tab",
        "type": "tab",
        "label": "PCA Anomaly: Multivariate",
        "disabled": false,
        "info": "Detects multivariate anomalies via PCA reconstruction error and Hotelling's T²."
    },
    {
        "id": "ex08-comment",
        "type": "comment",
        "z": "ex08-tab",
        "name": "Multivariate anomaly detection with PCA",
        "info": "The function node emits three normally correlated signals (temperature, vibration, and current). The pca-anomaly node learns the correlation structure over a 100-sample window and flags samples whose combined T²/SPE score exceeds 3 — including samples where each individual value looks normal but the correlation between them is broken. Anomalies are routed to output 2 together with the top contributing variables.",
        "x": 240,
        "y": 40,
        "wires": []
    },
    {
        "id": "ex08-inject",
        "type": "inject",
        "z": "ex08-tab",
        "name": "2 Hz tick",
        "props": [{ "p": "payload" }],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 120,
        "wires": [["ex08-sim"]]
    },
    {
        "id": "ex08-sim",
        "type": "function",
        "z": "ex08-tab",
        "name": "3 correlated signals",
        "func": "const c = (context.get('c') || 0) + 1;\ncontext.set('c', c);\n// load factor drives all three signals (correlated)\nconst load = 0.5 + 0.4 * Math.sin(2 * Math.PI * c / 100);\nlet temp = 60 + 20 * load + (Math.random() - 0.5) * 1.5;\nlet vib = 1.5 + 2.0 * load + (Math.random() - 0.5) * 0.2;\nlet current = 10 + 8 * load + (Math.random() - 0.5) * 0.5;\n// every ~120 samples break the correlation: vibration rises without load\nif (c % 120 === 0) vib += 3.0;\nmsg.payload = {\n    temperature: +temp.toFixed(2),\n    vibration: +vib.toFixed(3),\n    current: +current.toFixed(2)\n};\nmsg.topic = 'compressor-1/multivariate';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 120,
        "wires": [["ex08-pca"]]
    },
    {
        "id": "ex08-pca",
        "type": "pca-anomaly",
        "z": "ex08-tab",
        "name": "PCA anomaly",
        "nComponents": 2,
        "windowSize": 100,
        "threshold": 3,
        "method": "combined",
        "autoComponents": true,
        "varianceThreshold": 0.95,
        "contributionThreshold": 0.1,
        "showTopContributors": 3,
        "outputTopic": "",
        "debug": false,
        "persistState": false,
        "x": 550,
        "y": 120,
        "wires": [["ex08-debug-normal"], ["ex08-debug-anomaly"]]
    },
    {
        "id": "ex08-debug-normal",
        "type": "debug",
        "z": "ex08-tab",
        "name": "normal",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 100,
        "wires": []
    },
    {
        "id": "ex08-debug-anomaly",
        "type": "debug",
        "z": "ex08-tab",
        "name": "anomaly",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 140,
        "wires": []
    }
]
