examples/09-training-data-collector.json
[
    {
        "id": "ex09-tab",
        "type": "tab",
        "label": "Training Data Collector",
        "disabled": false,
        "info": "Collects labeled sensor samples into a CSV training dataset with train/val/test splits."
    },
    {
        "id": "ex09-comment",
        "type": "comment",
        "z": "ex09-tab",
        "name": "Collect labeled sensor data, then export with msg.action",
        "info": "The function node emits multi-sensor samples that the training-data-collector buffers into the 'pump-dataset' dataset, labeling everything 'normal' by default (set msg.label upstream to override). Press the 'export dataset' inject to send msg.action = 'export', which writes CSV files with an 80/10/10 train/val/test split to the configured output path (defaults to the Node-RED user directory). The node's single output reports buffer status and export results.",
        "x": 280,
        "y": 40,
        "wires": []
    },
    {
        "id": "ex09-inject",
        "type": "inject",
        "z": "ex09-tab",
        "name": "1 Hz tick",
        "props": [{ "p": "payload" }],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 120,
        "wires": [["ex09-sim"]]
    },
    {
        "id": "ex09-sim",
        "type": "function",
        "z": "ex09-tab",
        "name": "simulate pump sensors",
        "func": "msg.payload = {\n    temperature: +(64 + (Math.random() - 0.5) * 3).toFixed(2),\n    vibration: +(2.0 + (Math.random() - 0.5) * 0.5).toFixed(3),\n    pressure: +(5.2 + (Math.random() - 0.5) * 0.2).toFixed(3)\n};\n// set msg.label = 'anomaly' upstream to label faulty samples\nmsg.label = 'normal';\nmsg.topic = 'pump-1/sample';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 120,
        "wires": [["ex09-collector"]]
    },
    {
        "id": "ex09-inject-export",
        "type": "inject",
        "z": "ex09-tab",
        "name": "export dataset",
        "props": [{ "p": "action", "v": "export", "vt": "str" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 180,
        "wires": [["ex09-collector"]]
    },
    {
        "id": "ex09-collector",
        "type": "training-data-collector",
        "z": "ex09-tab",
        "name": "collect pump data",
        "datasetName": "pump-dataset",
        "outputPath": "",
        "mode": "batch",
        "autoSave": true,
        "featureSource": "payload",
        "featureFields": "",
        "includeTimestamp": true,
        "timestampFormat": "iso",
        "labelMode": "manual",
        "labelField": "label",
        "severityField": "severity",
        "rulStartValue": 100,
        "rulUnit": "samples",
        "defaultLabel": "normal",
        "bufferSize": 1000,
        "windowSize": 100,
        "windowOverlap": 50,
        "flushOnDeploy": true,
        "exportFormat": "csv",
        "compressionEnabled": true,
        "compressionThreshold": 10000,
        "splitTrain": 80,
        "splitVal": 10,
        "splitTest": 10,
        "shuffleOnExport": true,
        "includeMetadata": true,
        "s3Enabled": false,
        "s3Bucket": "",
        "s3Prefix": "training-data/",
        "s3Region": "eu-central-1",
        "s3AccessKeyId": "",
        "s3SecretAccessKey": "",
        "validateData": true,
        "removeOutliers": false,
        "outlierThreshold": 5,
        "x": 580,
        "y": 140,
        "wires": [["ex09-debug"]]
    },
    {
        "id": "ex09-debug",
        "type": "debug",
        "z": "ex09-tab",
        "name": "collector status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 140,
        "wires": []
    }
]
