examples/10-llm-analyzer.json
[
    {
        "id": "ex10-tab",
        "type": "tab",
        "label": "LLM Analyzer",
        "disabled": false,
        "info": "Batches sensor readings and asks an LLM for a plain-language condition assessment."
    },
    {
        "id": "ex10-comment",
        "type": "comment",
        "z": "ex10-tab",
        "name": "Setup required: configure API credentials in the node",
        "info": "Open the llm-analyzer node and enter your provider API key in the node's credentials before deploying — no key is shipped with this example. The function node streams a temperature reading every second; the analyzer buffers 30 samples per batch and sends them to the configured model (Anthropic claude-haiku-4-5 by default) for a natural-language condition assessment, which appears in the debug sidebar.",
        "x": 280,
        "y": 40,
        "wires": []
    },
    {
        "id": "ex10-inject",
        "type": "inject",
        "z": "ex10-tab",
        "name": "1 Hz tick",
        "props": [{ "p": "payload" }],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 120,
        "wires": [["ex10-sim"]]
    },
    {
        "id": "ex10-sim",
        "type": "function",
        "z": "ex10-tab",
        "name": "simulate temperature",
        "func": "const c = (context.get('c') || 0) + 1;\ncontext.set('c', c);\nconst base = 70 + 5 * Math.sin(2 * Math.PI * c / 120);\nconst noise = (Math.random() - 0.5) * 2;\nlet temp = base + noise;\nif (c % 100 === 0) temp += 15; // occasional excursion for the LLM to comment on\nmsg.payload = +temp.toFixed(2);\nmsg.topic = 'machine-a/temperature';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 120,
        "wires": [["ex10-llm"]]
    },
    {
        "id": "ex10-llm",
        "type": "llm-analyzer",
        "z": "ex10-tab",
        "name": "temperature analyst",
        "sensorName": "machine-a/temperature",
        "unit": "°C",
        "provider": "anthropic",
        "model": "claude-haiku-4-5-20251001",
        "apiUrl": "",
        "triggerMode": "batch",
        "batchSize": 30,
        "intervalMs": 60000,
        "maxOutputTokens": 512,
        "timeoutMs": 30000,
        "maxBufferSize": 10000,
        "maxSamplesInPrompt": 100,
        "inputMode": "scalar",
        "columns": "",
        "outputMode": "text",
        "outputSchema": "",
        "outputPath": "",
        "systemPrompt": "",
        "userPromptTemplate": "",
        "passthroughOriginal": true,
        "persistState": false,
        "x": 560,
        "y": 120,
        "wires": [["ex10-debug"]]
    },
    {
        "id": "ex10-debug",
        "type": "debug",
        "z": "ex10-tab",
        "name": "LLM assessment",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 120,
        "wires": []
    }
]
