examples/11-condition-monitoring-source.json
[
    {
        "id": "ex11-tab",
        "type": "tab",
        "label": "CM Data Source: Simulation",
        "disabled": false,
        "info": "Synthetic condition monitoring data source. Start the stream, watch the health degrade, and inject a bearing fault at runtime."
    },
    {
        "id": "ex11-comment",
        "type": "comment",
        "z": "ex11-tab",
        "name": "Simulated degrading pump — stream + runtime fault injection",
        "info": "Click 'Start stream' to begin emitting one sample every second (each sample advances the simulation by 2 h). The CM Data Source node degrades the machine health over time and derives vibration, temperature, current and pressure. Use 'Inject bearing fault' to push a strong bearing defect into the running stream and watch the vibration RMS rise into the alarm zone. 'Reset' restores 100% health.",
        "x": 320,
        "y": 40,
        "wires": []
    },
    {
        "id": "ex11-start",
        "type": "inject",
        "z": "ex11-tab",
        "name": "Start stream",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 130,
        "y": 120,
        "wires": [["ex11-source"]]
    },
    {
        "id": "ex11-stop",
        "type": "inject",
        "z": "ex11-tab",
        "name": "Stop stream",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "stop",
        "payloadType": "str",
        "x": 130,
        "y": 160,
        "wires": [["ex11-source"]]
    },
    {
        "id": "ex11-reset",
        "type": "inject",
        "z": "ex11-tab",
        "name": "Reset",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "reset",
        "payloadType": "str",
        "x": 130,
        "y": 200,
        "wires": [["ex11-source"]]
    },
    {
        "id": "ex11-fault",
        "type": "inject",
        "z": "ex11-tab",
        "name": "Inject bearing fault",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"config\":{\"faults\":{\"bearing\":0.85},\"degRate\":0.2}}",
        "payloadType": "json",
        "x": 150,
        "y": 260,
        "wires": [["ex11-source"]]
    },
    {
        "id": "ex11-source",
        "type": "condition-monitoring-source",
        "z": "ex11-tab",
        "name": "Pump simulator",
        "assetType": "pump",
        "rpm": 1500,
        "load": 70,
        "degRate": 0.06,
        "noise": 0.3,
        "intervalMs": 1000,
        "hoursPerSample": 2,
        "faultImbalance": 0,
        "faultMisalignment": 0,
        "faultBearing": 0,
        "faultLooseness": 0,
        "warnThreshold": 4.5,
        "alarmThreshold": 7.1,
        "autoStart": false,
        "onFailure": "reset",
        "outputFormat": "object",
        "outputTopic": "",
        "seed": "",
        "debug": false,
        "x": 450,
        "y": 180,
        "wires": [["ex11-debug", "ex11-health"]]
    },
    {
        "id": "ex11-debug",
        "type": "debug",
        "z": "ex11-tab",
        "name": "sample",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 140,
        "wires": []
    },
    {
        "id": "ex11-health",
        "type": "debug",
        "z": "ex11-tab",
        "name": "health + status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "status",
        "targetType": "msg",
        "statusVal": "payload.health",
        "statusType": "msg",
        "x": 670,
        "y": 220,
        "wires": []
    }
]
