examples/example-4-isolation-forest-ml.json
[
    {
        "id": "ml_flow_tab",
        "type": "tab",
        "label": "Example 4: Machine Learning Anomaly Detection",
        "disabled": false,
        "info": "Uses Isolation Forest ML algorithm for complex anomaly patterns.\nUses: Isolation Forest Anomaly"
    },
    {
        "id": "inject_ml_1",
        "type": "inject",
        "z": "ml_flow_tab",
        "name": "Simulate Sensor Data (500ms)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 100,
        "wires": [
            [
                "function_ml_sim"
            ]
        ]
    },
    {
        "id": "function_ml_sim",
        "type": "function",
        "z": "ml_flow_tab",
        "name": "Complex Pattern Simulator",
        "func": "// Simulate complex sensor with multiple normal patterns\nconst t = (context.get('t') || 0) + 1;\ncontext.set('t', t);\n\n// Three different normal operating modes\nconst mode = Math.floor(t / 100) % 3;\n\nlet value;\n\nif (mode === 0) {\n    // Mode 1: Low power, steady\n    value = 50 + (Math.random() - 0.5) * 5;\n} else if (mode === 1) {\n    // Mode 2: Medium power, oscillating\n    value = 75 + Math.sin(t * 0.1) * 10 + (Math.random() - 0.5) * 3;\n} else {\n    // Mode 3: High power, noisy\n    value = 100 + (Math.random() - 0.5) * 15;\n}\n\n// Occasionally inject anomalies\nif (Math.random() < 0.05) {\n    value += (Math.random() - 0.5) * 50; // Random spike\n}\n\nmsg.payload = value;\nmsg.timestamp = Date.now();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 100,
        "wires": [
            [
                "isolation_forest_1",
                "chart_input"
            ]
        ]
    },
    {
        "id": "isolation_forest_1",
        "type": "isolation-forest-anomaly",
        "z": "ml_flow_tab",
        "name": "ML Anomaly Detection",
        "contamination": 0.1,
        "windowSize": 100,
        "x": 740,
        "y": 100,
        "wires": [
            [
                "debug_ml_normal"
            ],
            [
                "debug_ml_anomaly",
                "chart_anomaly"
            ]
        ]
    },
    {
        "id": "chart_input",
        "type": "debug",
        "z": "ml_flow_tab",
        "name": "Input Values",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 60,
        "wires": []
    },
    {
        "id": "debug_ml_normal",
        "type": "debug",
        "z": "ml_flow_tab",
        "name": "Normal Pattern",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 80,
        "wires": []
    },
    {
        "id": "debug_ml_anomaly",
        "type": "debug",
        "z": "ml_flow_tab",
        "name": "⚠️ ML ANOMALY Detected",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 120,
        "wires": []
    },
    {
        "id": "chart_anomaly",
        "type": "debug",
        "z": "ml_flow_tab",
        "name": "Anomaly Score",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "anomalyScore",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 160,
        "wires": []
    },
    {
        "id": "comment_4",
        "type": "comment",
        "z": "ml_flow_tab",
        "name": "Machine Learning: Isolation Forest for Complex Patterns",
        "info": "This flow demonstrates:\n- Isolation Forest ML algorithm\n- Handles multiple normal operating modes\n- Adapts to changing patterns\n- No need to define thresholds\n\nAdvantages:\n- Works with complex, multi-modal data\n- Automatically learns normal patterns\n- Detects subtle anomalies\n\nNote: Requires ml-isolation-forest package",
        "x": 250,
        "y": 40,
        "wires": []
    }
]

