demo/node-red-data/flows.json
[{"id":"demo-tab","type":"tab","label":"LLM Analyzer Demo","disabled":false,"info":"# llm-analyzer demo\n\nSimulates a temperature sensor (1 Hz) and a vibration sensor (10 Hz). Every 10 vibration samples, a Claude-style mock LLM is asked to analyse the batch. The reply lands in the Debug panel.\n\nMock API: `http://anthropic-mock:8088/v1/messages`\n\nSwap the mock for the real Anthropic API by clearing the API URL field of the llm-analyzer node and setting the API key credential to a real `sk-ant-...`."},{"id":"inj-temp","type":"inject","z":"demo-tab","name":"1 Hz tick","props":[{"p":"payload"}],"repeat":"1","once":true,"onceDelay":0.5,"topic":"","payload":"","payloadType":"date","x":130,"y":100,"wires":[[]]},{"id":"fn-temp","type":"function","z":"demo-tab","name":"synth temp","func":"const t = msg.payload / 1000;\nconst base = 70 + 5 * Math.sin(2 * Math.PI * 0.05 * t);\nconst noise = (Math.random() - 0.5) * 2;\nmsg.payload = +(base + noise).toFixed(3);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":100,"wires":[["llm-temp"]]},{"id":"llm-temp","type":"llm-analyzer","z":"demo-tab","name":"temp analyzer","sensorName":"machine-A/temp","unit":"°C","provider":"anthropic","model":"claude-haiku-4-5-20251001","apiUrl":"http://anthropic-mock:8088/v1/messages","triggerMode":"batch","batchSize":30,"intervalMs":60000,"maxOutputTokens":256,"timeoutMs":30000,"maxBufferSize":"","maxSamplesInPrompt":"","columns":"","outputSchema":"","outputPath":"","systemPrompt":"","userPromptTemplate":"","passthroughOriginal":true,"persistState":false,"x":540,"y":100,"wires":[["dbg-temp"]]},{"id":"dbg-temp","type":"debug","z":"demo-tab","name":"temp LLM out","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","statusVal":"payload","statusType":"auto","x":740,"y":100,"wires":[]},{"id":"inj-vib","type":"inject","z":"demo-tab","name":"10 Hz tick","props":[{"p":"payload"}],"repeat":"0.1","once":true,"onceDelay":0.5,"topic":"","payload":"","payloadType":"date","x":130,"y":220,"wires":[[]]},{"id":"fn-vib","type":"function","z":"demo-tab","name":"synth vib","func":"const c = (context.get('c') || 0) + 1;\ncontext.set('c', c);\nlet v = (Math.random() - 0.5);\nif (c % 200 === 0) v *= 10; // periodic spike\nmsg.payload = +v.toFixed(4);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":220,"wires":[["anom-vib"]]},{"id":"anom-vib","type":"anomaly-detector","z":"demo-tab","name":"z-score","method":"zscore","windowSize":100,"zscoreThreshold":3,"iqrMultiplier":1.5,"emaAlpha":0.1,"persistState":false,"x":510,"y":220,"wires":[["llm-vib"],[]]},{"id":"llm-vib","type":"llm-analyzer","z":"demo-tab","name":"vib analyzer","sensorName":"machine-A/vibration","unit":"mm/s","provider":"anthropic","model":"claude-haiku-4-5-20251001","apiUrl":"http://anthropic-mock:8088/v1/messages","triggerMode":"interval","batchSize":50,"intervalMs":15000,"maxOutputTokens":256,"timeoutMs":30000,"systemPrompt":"","userPromptTemplate":"","passthroughOriginal":false,"x":700,"y":220,"wires":[["dbg-vib"]]},{"id":"dbg-vib","type":"debug","z":"demo-tab","name":"vib LLM out","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","statusVal":"payload","statusType":"auto","x":900,"y":220,"wires":[]},{"id":"manual-trigger","type":"inject","z":"demo-tab","name":"manual flush","props":[{"p":"flush","v":"true","vt":"bool"},{"p":"prompt","v":"Sensor {sensor} batch ({count} samples). Stats: {stats}. Summarise in three sentences and flag anything unusual.","vt":"str"}],"repeat":"","once":false,"topic":"","x":130,"y":340,"wires":[[]]},{"id":"fn-manual","type":"function","z":"demo-tab","name":"synth burst","func":"// Inject 20 random samples, then one flush msg.\nconst out = [];\nfor (let i = 0; i < 20; i++) out.push({ payload: 50 + (Math.random() - 0.5) * 4 });\nout.push({ payload: 99, flush: true, prompt: msg.prompt });\nreturn [out];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":340,"wires":[["llm-manual"]]},{"id":"llm-manual","type":"llm-analyzer","z":"demo-tab","name":"manual analyzer","sensorName":"burst-test","unit":"units","provider":"anthropic","model":"claude-haiku-4-5-20251001","apiUrl":"http://anthropic-mock:8088/v1/messages","triggerMode":"manual","batchSize":50,"intervalMs":60000,"maxOutputTokens":256,"timeoutMs":30000,"systemPrompt":"","userPromptTemplate":"","passthroughOriginal":false,"x":540,"y":340,"wires":[["dbg-manual"]]},{"id":"dbg-manual","type":"debug","z":"demo-tab","name":"manual LLM out","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":740,"y":340,"wires":[]},{"id":"inj-record","type":"inject","z":"demo-tab","name":"2 Hz SCADA","props":[{"p":"payload"}],"repeat":"0.5","once":true,"onceDelay":1,"topic":"","payload":"","payloadType":"date","x":130,"y":460,"wires":[[]]},{"id":"fn-record","type":"function","z":"demo-tab","name":"synth record","func":"// One SCADA-style snapshot: timestamp + 3 sensors. Pressure correlates\n// inversely with temp every 30s to simulate a leak/temperature link.\nconst t = msg.payload / 1000;\nconst phase = Math.sin(2 * Math.PI * 0.033 * t); // ~30s cycle\nconst temp     = 70 + 4 * phase + (Math.random() - 0.5);\nconst pressure = 4.5 - 0.3 * phase + (Math.random() - 0.5) * 0.05;\nconst vibration = 0.5 + (Math.random() - 0.5) * 0.2;\nmsg.payload = {\n  timestamp: msg.payload,\n  temp: +temp.toFixed(2),\n  pressure: +pressure.toFixed(3),\n  vibration: +vibration.toFixed(4)\n};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":460,"wires":[["llm-record"]]},{"id":"llm-record","type":"llm-analyzer","z":"demo-tab","name":"multi-sensor","sensorName":"machine-A","unit":"","provider":"anthropic","model":"claude-haiku-4-5-20251001","apiUrl":"http://anthropic-mock:8088/v1/messages","triggerMode":"batch","batchSize":20,"intervalMs":60000,"maxOutputTokens":256,"timeoutMs":30000,"inputMode":"record","columns":"temp, pressure, vibration","systemPrompt":"","userPromptTemplate":"","passthroughOriginal":false,"x":540,"y":460,"wires":[["dbg-record"]]},{"id":"dbg-record","type":"debug","z":"demo-tab","name":"record LLM out","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","statusVal":"payload","statusType":"auto","x":740,"y":460,"wires":[]},{"id":"inj-json","type":"inject","z":"demo-tab","name":"score request","props":[{"p":"flush","v":"true","vt":"bool"}],"repeat":"","once":false,"topic":"","x":130,"y":580,"wires":[[]]},{"id":"fn-json","type":"function","z":"demo-tab","name":"synth burst","func":"// Inject 15 random samples then flush, to demo JSON output extraction.\nconst out = [];\nfor (let i = 0; i < 15; i++) out.push({ payload: 70 + (Math.random() - 0.5) * 5 });\nout.push({ payload: 99, flush: true });\nreturn [out];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":580,"wires":[["llm-json"]]},{"id":"llm-json","type":"llm-analyzer","z":"demo-tab","name":"json scorer","sensorName":"machine-A/temp","unit":"°C","provider":"anthropic","model":"claude-haiku-4-5-20251001","apiUrl":"http://anthropic-mock:8088/v1/messages","triggerMode":"manual","batchSize":50,"intervalMs":60000,"maxOutputTokens":256,"timeoutMs":30000,"inputMode":"scalar","outputMode":"json","outputSchema":"{\n  \"severity\": \"warning\",\n  \"score\": 0.85,\n  \"summary\": \"Brief one-line description.\",\n  \"recommendation\": \"Inspect within 4 hours.\"\n}","outputPath":"score","systemPrompt":"","userPromptTemplate":"","passthroughOriginal":false,"x":540,"y":580,"wires":[["dbg-json-payload","switch-score"]]},{"id":"dbg-json-payload","type":"debug","z":"demo-tab","name":"score (payload)","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","statusVal":"payload","statusType":"auto","x":760,"y":560,"wires":[]},{"id":"switch-score","type":"switch","z":"demo-tab","name":"score gate","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"0.7","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":760,"y":620,"wires":[["dbg-json-alert"],[]]},{"id":"dbg-json-alert","type":"debug","z":"demo-tab","name":"ALARM (score≥0.7)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1020,"y":620,"wires":[]}]